.col-1 {
    width: 25%; 
    background: white;
    display: table-cell;
  }

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header {
    align-content: center;
}